h1 {
  color: rgb(155, 132, 104);
  text-shadow: 2px 2px rgb(155, 164, 155);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3em;
}

h2 {
  color: rgb(155, 132, 104);
  text-shadow: 1px 2px rgb(255, 255, 255);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5em;
  text-indent: 4em;
}

.my-color {
  color: rgb(155, 132, 104);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5em;
}

.my-color2 {
  color: rgb(155, 132, 104);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
}

.my-color3 {
  color: rgb(76, 97, 125);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
}

.button-style {
  color: white;
  background-color: rgb(155, 132, 104);
  border-color: rgb(155, 132, 104);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.space {
  margin-top: 5em;
}

p {
  color: rgb(155, 132, 104);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  text-shadow: 2px 2px rgb(255, 255, 255);
  font-size: 1em;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end);
}

@keyframes type {
  from {
    width: 0;
  }
}

table {
  width: 60%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1em;
  margin-left: 5em;
}

.table2 {
  width: 35%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1em;
  margin-left: 5em;
}

th,
td {
  padding: 10px;
  text-align: left;
  color: rgb(96, 80, 60);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.custom-width {
  width: 180px;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 12em;
}

.thankyou {
  color: rgb(220, 20, 60);
  -webkit-text-stroke: 5px rgba(255, 255, 255, 0.5);
  text-stroke: 0.5em rgba(255, 255, 255, 0.5);
  font-size: 3em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
}

form {
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, serif;
  max-width: 30em;
  padding: 1em;
  border: 0.2em solid #ccc;
  border-radius: 0.5em;
}

label {
  color: rgb(96, 80, 60);
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: em;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  color: rgb(96, 80, 60);
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  background-color: rgb(96, 80, 60);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

f1 {
  display: flex;
  margin-left: 5em;
}

.socialicon {
  display: flex;
  gap: 2em;
  margin-left: 5em;
}

.socialicon img {
  width: 50%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em;
  width: 100%;
  text-align: center;
  padding: 0.5em;
  background-color: DarkSalmon;
  color: white;
  font-size: 0.5em;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: rgb(133, 126, 168, 0.8);
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
}

#myBtn:hover {
  background-color: #4b7d83;
}
